.adressMap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
}

.frameAdressMap {
  display: flex;
  width: auto;
  padding: 50px;
}

.adressContacts {
  width: 300px;
  height: auto;
  padding-right: 50px;

  font-family: 'Montserrat';
  font-size: 1rem;
}

.mapFrame {
  width: 700px;
  height: 350px;
  border-radius: 20px;
  overflow: hidden;
  opacity: 0.8;
  border: solid 1px;
}

@media screen and (max-width: 744px) {
  .adressContacts {
    font-size: 1.15rem;
  }
}

@media screen and (max-width: 576px) {
  .adressContacts {
    font-size: 1.3rem;
  }
}

@media screen and (max-width: 376px) {
  .frameAdressMap {
    display: flex;
    flex-direction: column;
    padding: 0;
  }
  .adressContacts {
    padding: 0;
    margin: auto;
    text-align: center;
    width: 100vh;
    font-size: 2.2rem;
  }
  .mapFrame {
    margin: 25px;
    width: 150vh;
  }
}