.adressMap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
}

.frameAdressMap {
  display: flex;
  width: auto;
  padding: 50px;
}

.adressContacts {
  max-width: 300px;
  height: auto;
  padding-right: 50px;

  font-family: 'Montserrat';
  font-size: 1rem;
}

.mapFrame {
  max-width: 700px;
  max-height: 350px;
  border-radius: 20px;
  overflow: hidden;
  opacity: 0.8;
  border: solid 1px;
}

@media screen and (max-width: 744px) {
  .frameAdressMap {
    display: flex;
    width: auto;
    padding: 25px;
  }
  .mapFrame {
    max-width: 450px;
    max-height: 230px;
  }
  .adressContacts {
    height: auto;
    max-width: 200px;
    padding-right: 25px;

    font-family: 'Montserrat';
    font-size: 1rem;
  }
}
@media screen and (max-width: 576px) {
  .frameAdressMap {
    padding: 15px;
  }
  .mapFrame {
    max-width: 350px;
    max-height: 180px;
  }
  .adressContacts {
    max-width: 150px;
    padding-right: 15px;

    font-size: 0.8rem;
  }
}
@media screen and (max-width: 376px) {
  .frameAdressMap {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
  }
  .mapFrame {
    max-width: 280px;
    max-height: 140px;
    margin-bottom: 10px;
  }
  .adressContacts {
    max-width: 200px;
    font-size: 0.7rem;
    text-align: center;
  }
}
