.adressMap {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
}

.frameAdressMap {
  display: flex;
  width: auto;
  padding: 50px;
}

.adressContacts {
  width: 300px;
  height: auto;
  padding-right: 50px;

  font-family: 'Montserrat';
  font-size: 1rem;
}

.mapFrame {
  width: 700px;
  height: 350px;
  border-radius: 20px;
  overflow: hidden;
  opacity: 0.8;
  border: solid 1px;
}

@media screen and (max-width: 744px) {
  .frameAdressMap {
    display: flex;
    width: auto;
    padding: 25px;
  }
  .mapFrame {
    width: 450px;
    height: 230px;
  }
  .adressContacts {
    height: auto;
    width: 200px;
    padding-right: 25px;

    font-family: 'Montserrat';
    font-size: 1rem;
  }
}
