.featuresContainer {
  display: flex;
  justify-content: space-between;
  width: auto;
  overflow: hidden;
  margin: 15px 30px;

  transition-timing-function: ease-in-out;
}

.featuresContainerMobile {
  display: none;
}

.frameFeatures {
  width: 190px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.frameFeatures img {
  height: 190px;
  width: 190px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

.frameText {
  padding-top: 50px;
  width: 190px;
  text-align: center;
  font-family: 'Montserrat';
  font-size: 1rem;
  line-height: normal;
}

@media screen and (max-width: 900px) {
  .featuresContainer {
    display: none;
  }
  .featuresContainerMobile {
    display: flex;
    justify-content: space-between;
    margin: 20px 15px;
    width: auto;
    overflow: hidden;

    transition-timing-function: ease-in-out;
  }
  .frameFeatures {
    width: 160px;
  }
  .frameFeatures img {
    width: 160px;
    height: 160px;
  }
  .frameText {
    width: 160px;
    padding-top: 25px;
  }
}

@media screen and (max-width: 760px) {
  .featuresContainerMobile {
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 15px;
    width: auto;
  }
  .frameFeatures {
    width: 140px;
  }
  .frameFeatures img {
    width: 140px;
    height: 140px;
  }
  .frameText {
    width: 140px;
    font-size: 0.9rem;
  }
}

@media screen and (max-width: 590px) {
  .frameFeatures {
    margin: 10px;
    width: 130px;
  }
  .frameFeatures img {
    width: 130px;
    height: 130px;
  }
  .frameText {
    width: 130px;
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 376px) {
  .featuresContainerMobile {
    margin: 5px;
  }
  .frameFeatures {
    margin: 10px;
    width: 120px;
  }
  .frameFeatures img {
    width: 120px;
    height: 120px;
  }
  .frameText {
    width: 120px;
    font-size: 0.7rem;
  }
}
