.pageCommon {
  width: 1150px;
  margin: auto;
}

@media screen and (max-width: 744px) {
  .pageCommon {
    max-width: 744px;
  }
}

@media screen and (max-width: 576px) {
  .pageCommon {
    max-width: 576px;
  }
}

@media screen and (max-width: 376px) {
  .pageCommon {
    max-width: 376px;
  }
}
