.emailForm {
  width: 100%;
  background-color: #242121;
  display: grid;
  grid-template-columns: 140px 1fr 140px;
  overflow: hidden;

  font-family: 'Montserrat';
  font-size: 1rem;
}

.leftDarkSide {
  z-index: 10;
  background: linear-gradient(90deg, #0c0909 0%, #0c090900 100%);
}

.rightDarkSide {
  z-index: 10;
  background: linear-gradient(270deg, #0c0909 0%, #0c090900 100%);
}

.formInput {
  display: flex;
  justify-content: center;
  align-items: center;
}

.submitClientEmail {
  display: flex;
  justify-content: center;
  align-items: center;
}

.emailInput {
  height: 30px;
  max-width: 350px;
  margin: 20px;
  border: 2px solid #740202;
  border-radius: 5px;
  background: #d2d2d2;
  font-family: 'Montserrat';
  font-size: 1rem;
}

.btnSubmit {
  width: auto;
  height: auto;
  padding: 5px;
  border-radius: 5px;
  background: #7e0000;
  border: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #d2d2d2;
  font-family: 'Montserrat';
  font-size: 1rem;
}

@media screen and (max-width: 744px) {
  .emailForm {
    display: grid;
    grid-template-columns: 90px 1fr 90px;
    font-size: 1rem;
  }
  .emailInput {
    height: 30px;
    max-width: 250px;
    margin: 10px;
  }
}

@media screen and (max-width: 744px) {
  .emailForm {
    grid-template-columns: 45px 1fr 45px;
  }
  .emailInput {
    max-width: 200px;
  }
}
@media screen and (max-width: 576px) {
  .emailForm {
    grid-template-columns: 45px 1fr 45px;
    font-size: 0.8rem;
  }
  .emailInput {
    max-width: 200px;
    font-size: 0.8rem;
  }
  .btnSubmit {
    font-size: 0.8rem;
  }
}
@media screen and (max-width: 376px) {
  .emailForm {
    font-size: 0.7rem;
  }
  .formInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px 0;
  }
  .emailInput {
    max-width: 250px;
    font-size: 0.7rem;
  }
  .btnSubmit {
    font-size: 0.7rem;
  }
}
