.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  margin: 25px;
  border-top: 2px solid #7e0000;
  border-bottom: 2px solid #7e0000;
}

.logo {
  color: #7e0000;
  font-family: 'Montserrat';
  font-size: 2rem;
  letter-spacing: 10px;
}

.menu {
  font-family: 'Montserrat';
  font-size: 1rem;
  display: flex;
  align-items: center;
  list-style: none;
  opacity: 0.8;
  padding-right: 25px;
}

.menu ul {
  display: flex;
  list-style: none;
}

.menu li {
  width: auto;
  color: aliceblue;
  padding-right: 25px;
}

.linksCo {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  height: 75px;
  margin: 25px 0;
}

.linksCo div {
  display: flex;
  align-items: center;
}

.linksCo a {
  text-decoration: none;
  font-family: 'Montserrat';
  font-size: 1rem;
  color: aliceblue;
  padding-left: 10px;
}

@media screen and (max-width: 744px) {
  .logo {
    font-size: 2rem;
  }
}
