.screenHideBlur {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 50;
  width: 100vw;
  height: 100vh;
}

.frameFormReg {
  position: relative;
  top: -25px;
  width: 650px;
  height: 650px;
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.closeBtn {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.formReg {
  position: absolute;
  bottom: 75px;
  left: 75px;
  display: flex;
  align-items: center;
  width: 500px;
  height: 500px;
  border-radius: 20px;
  background: #242121;
}

.textFormReg {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto;
  font-family: 'Montserrat';
  font-size: 1rem;
}

.formRegInput {
  width: 350px;
  height: 25px;
  border-radius: 5px;
  border: 0;
  margin-bottom: 25px;
  border: 2px solid #740202;
  font-family: 'Montserrat';
  font-size: 0.9rem;
}

.btnSubmit {
  width: 120px;
  height: 30px;
  border-radius: 5px;
  background: #7e0000;
  border: 0;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #d2d2d2;
  font-family: 'Montserrat';
  font-size: 1rem;
}


@media screen and (max-width: 760px) {
  .frameFormReg {
    width: 550px;
    height: 550px;
  }
  .formReg {
    bottom: 25px;
    left: 25px;
  }
  .closeBtn {
    z-index: 10;
    top: 30px;
    right: 30px;
  }
}

@media screen and (max-width: 590px) {
  .frameFormReg {
    width: 400px;
    height: 550px;
    border-radius: 15px;
  }  
  .formReg {
    width: 350px;
    height: 500px;
    border-radius: 15px;
  }
  .textFormReg {
    font-size: 0.9rem;
  }
  .formRegInput {
    width: 250px;
    height: 25px;
    margin-bottom: 25px;
    font-size: 0.8rem;
  }
  .btnSubmit {
    width: 120px;
    height: 30px;
    font-size: 0.9rem;
  }
  .closeBtn {
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 420px) {
  .frameFormReg {
    width: 320px;
    height: 520px;
    border-radius: 15px;
  }  
  .formReg {
    bottom: 20px;
    left: 20px;
    width: 280px;
    height: 480px;
    border-radius: 15px;
  }
  .textFormReg {
    font-size: 0.8rem;
  }
  .formRegInput {
    width: 230px;
    height: 25px;
    margin-bottom: 20px;
    font-size: 0.7rem;
  }
  .btnSubmit {
    font-size: 0.8rem;
  }
  .closeBtn {
    top: 25px;
    right: 25px;
    width: 35px;
    height: 35px;
  }
}
