.frameAction {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  margin: auto;
  padding: 25px;
  overflow: hidden;
}

.frameActionMobile {
  display: none;
}

.textAction {
  font-family: 'Montserrat';
  font-size: 1rem;
}

.imgOfAction img {
  width: 500px;
  min-height: 300px;
  max-height: 300px;
  border-radius: 20px;
}

@media screen and (max-width: 744px) {
  .imgOfAction img {
    width: 325px;
    min-height: 190px;
    max-height: 190px;
    border-radius: 20px;
  }
  .textAction {
    font-size: 1rem;
  }
}
