.NavBar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
  width: auto;
  margin: 25px;
  border-top: 2px solid #7e0000;
  border-bottom: 2px solid #7e0000;
}

.logo {
  color: #7e0000;
  font-family: 'Montserrat';
  font-size: 2.2rem;
  padding-left: 10px;
  letter-spacing: 10px;
}

.menu {
  font-family: 'Montserrat';
  font-size: 1rem;
  opacity: 0.8;
}

.menuIcon {
  display: none;
}

.menu ul {
  display: grid;
  grid-template-columns: 150px 150px 150px 175px;
  list-style: none;
  padding: 0;
}

.menu li {
  justify-self: center;
  color: aliceblue;
}

.menu li a {
  cursor: 'pointer';
  text-decoration: none;
  color: aliceblue;
  padding: 20px 0;
}

.menuPoints {
  display: none;
}

@media screen and (max-width: 900px) {
  .menu {
    display: none;
  }
  .NavBar {
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 9fr 1fr;
    justify-items: center;
    align-items: center;
  }
  .logo {
    grid-column-start: 2;
  }
  .menuIcon {
    display: block;
    justify-self: center;
    grid-column-start: 3;
    color: #7e0000;
  }
  .menuPoints {
    display: flex;
    flex-direction: column;
    height: auto;
    margin: 0px 10px 10px 10px;
  }
  .menuPoints div {
    height: 45px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    background: #7e0000;
    color: aliceblue;
    font-size: 1rem;
    font-family: 'Montserrat';
  }
  .menuPoints div a {
    color: aliceblue;
    text-decoration: none;
  }
  .menuPointsNumber {
    border-left: 2px solid #7e0000;
    background: #0c0909;
  }
}

@media screen and (max-width: 760px) {
  .NavBar {
    margin: 15px;
    height: 60px;
  }
  .logo {
    font-size: 2rem;
  }
}

@media screen and (max-width: 476px) {
  .NavBar {
    margin: 10px;
  }
  .logo {
    font-size: 1.8rem;
  }
}
