.slider {
  position: relative;
  display: flex;
  width: auto;
  overflow: hidden;
  padding-bottom: 25px;
}

.sliderImg {
  display: flex;
  width: 850px;
  margin: auto;

  transition-timing-function: ease-in-out;
}

.sliderImg img {
  border-radius: 20px;
  height: 535px;
  width: 850px;
  padding: 0px 5px;
}

.buttonLeft {
  position: absolute;
  left: 0;
  z-index: 10;
  width: 140px;
  height: 535px;
  background: linear-gradient(90deg, #0c0909 0%, #0c090900 100%);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #7e0000;
  font-family: 'Courier New';
  font-size: 5rem;
  font-weight: 100;
}

.buttonRight {
  position: absolute;
  right: 0;
  z-index: 10;
  width: 140px;
  height: 535px;
  background: linear-gradient(270deg, #0c0909 0%, #0c090900 100%);
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  color: #7e0000;
  font-family: 'Courier New';
  font-size: 5rem;
  font-weight: 100;
}

@media screen and (max-width: 900px) {
  .sliderImg {
    width: 665px;
    height: 395px;
  }
  .sliderImg img {
    height: 395px;
    width: 665px;
  }
  .buttonLeft {
    height: 395px;
  }
  .buttonRight {
    height: 395px;
  }
}

@media screen and (max-width: 760px) {
  .slider {
    padding-bottom: 20px;
  }
  .sliderImg {
    padding-bottom: 0;
  }
  .sliderImg img {
    border-radius: 10px;
    padding: 0px 2px;
  }
  .buttonLeft {
    width: 90px;
    font-size: 4rem;
  }
  .buttonRight {
    width: 90px;
    font-size: 4rem;
  }
}

@media screen and (max-width: 590px) {
  .slider {
    padding-bottom: 15px;
  }
  .sliderImg {
    width: 496px;
    height: 294px;
  }
  .sliderImg img {
    width: 496px;
    height: 294px;
  }
  .buttonLeft {
    width: 60px;
    height: 294px;
  }
  .buttonRight {
    width: 60px;
    height: 294px;
  }
}
@media screen and (max-width: 476px) {
  .slider {
    padding-bottom: 10px;
  }
  .sliderImg {
    width: 382px;
    height: 230px;
  }
  .sliderImg img {
    width: 382px;
    height: 230px;
  }
  .buttonLeft {
    width: 45px;
    height: 230px;
    font-size: 3.5rem;
  }
  .buttonRight {
    width: 45px;
    height: 230px;
    font-size: 3.5rem;
  }
}
